<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar">
    <div class="navbar_brand">
        <a href="/">⚾STRIKE</a>
    </div>
    <div>
        <ul class="navbar_menu">
            <li><a th:href="@{/boards/posts/{category}(category='FREE')}">자유 게시판</a></li>
            <li><a th:href="@{/boards/posts/{category}(category='CHEERING')}">응원</a></li>
            <li><a th:href="@{/boards/posts/{category}(category='REVIEW')}">리뷰</a></li>
            <li><a th:href="@{/boards/posts/{category}(category='TIP')}">야구장 팁</a></li>
            <!-- 다른 카테고리도 필요에 따라 추가할 수 있습니다 -->
        </ul>
    </div>
    <div class="navbar_login">
        <!-- 세션에 로그인 정보가 있는 경우 -->
        <div th:if="${session.loggedIn}">
            <span><span th:text="${session.userNickname}"></span>님  </span>
            <a id="logout" th:href="@{/users/logout}">로그아웃</a>
        </div>
        <!-- 세션에 로그인 정보가 없는 경우 -->
        <div th:unless="${session.loggedIn}">
            <a th:href="@{/users/login}">로그인</a>
            <a th:href="@{/users/signup}">회원가입</a>
        </div>
    </div>
</nav>
</body>
</html>