<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카테고리 별 게시물</title>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>
<body>
<nav th:replace="~{fragment/navbar::nav}"></nav>
<table id="categoryPostTable">
    <thead>
    <tr>
        <th>게시물 번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>최종 수정일</th>
    </tr>
    </thead>
    <tbody id="categoryPostsTableBody">
    <!-- 여기에 서버에서 받아온 데이터로 동적으로 생성되는 행이 추가됩니다. -->
    </tbody>
</table>
<script th:inline="javascript">
    var category = [[${category}]];
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // 서버에서 게시물 목록을 가져와서 테이블에 추가하는 함수
        function loadPosts() {
            $.ajax({
                type: 'GET',
                url: '/rest-api/boards/' + category, // 선택한 카테고리에 해당하는 게시물 가져오기
                success: function (response) {
                    var posts = response;
                    var tableBody = $('#categoryPostsTableBody');
                    tableBody.empty(); // 기존 데이터 삭제
                    posts.forEach(function (post) {
                        var createdDate = new Date(post.createdAt);
                        var formattedCreatedDate = ("0" + (createdDate.getFullYear() % 100)).slice(-2) + "-" + ("0" + (createdDate.getMonth() + 1)).slice(-2) + "-" + ("0" + createdDate.getDate()).slice(-2) + " " + ("0" + createdDate.getHours()).slice(-2) + ":" + ("0" + createdDate.getMinutes()).slice(-2);

                        var row = '<tr>' +
                            '<td>' + post.postId + '</td>' +
                            '<td><a href="/boards/post/' + post.postId + '">' + post.title + '</a></td>' +
                            '<td>' + post.userNickname + '</td>' +
                            '<td>' + formattedCreatedDate + '</td>' +
                            '</tr>';
                        tableBody.append(row);
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Failed to load posts:', error);
                }
            });
        }

        // 페이지 로드 시 선택한 카테고리에 해당하는 게시물 목록을 로드합니다.
        loadPosts();
    });
</script>
</body>
</html>