<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>STRIKE</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/navbar.css?after">
        <link rel="stylesheet" type="text/css" href="/css/posts.css?after">
    </head>
<body>
    <nav th:replace="~{fragment/navbar::nav}"></nav>
    <h2 th:text="${categoryName}"></h2>
    <table id="postTable">
        <thead>
        <tr>
            <th class="small-column">번호</th>
            <th class="large-column">제목</th>
            <th class="small-column">작성자</th>
            <th class="small-column">생성 날짜</th>
        </tr>
        </thead>
        <tbody id="postTableBody">
        <tr th:each="post: ${postsByCategory}">
            <td class="center" th:text="${post.postId}"></td>
            <td class="left"><a th:href="@{'/boards/post/' + ${post.postId}}" th:text="${post.postTitle}"></a></td>
            <td class="center" th:text="${post.userNickname}"></td>
            <td class="center" th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}"></td>
        </tbody>
    </table>
    <div class="write-link-container">
        <div class="write-link" th:if="${session.loggedIn}">
            <a th:href="@{/boards/post}">글쓰기</a>
        </div>
    </div>
    <div class="pagination-links">
        <!-- 첫번째 페이지로 이동 -->
        <a th:href="@{'/boards/posts/' + ${category} + '?page=1'}"> << </a>

        <!-- 이전 링크 활성화 비활성화 -->
        <a th:href="${postsByCategory.first} ? '#' : '/boards/posts/' + ${category} + '?page=' + ${postsByCategory.number}"> < </a>

        <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
            <!-- 현재페이지는 링크 없이 숫자만 -->
            <span th:if="${page == postsByCategory.number + 1}" th:text="${page}" class="selected"></span>
            <!-- 현재페이지 링크 X, 다른 페이지번호에는 링크를 보여준다 -->
            <span th:unless="${page == postsByCategory.number + 1}">
                <a th:href="@{'/boards/posts/' + ${category} + '?page=' + ${page}}" th:text="${page}"></a>
            </span>
        </span>

        <!-- 다음 링크 활성화 비활성화 -->
        <a th:href="${postsByCategory.last} ? '#' : '/boards/posts/' + ${category} + '?page=' + ${postsByCategory.number + 2}"> > </a>

        <!-- 마지막 페이지로 이동 -->
        <a th:href="@{'/boards/posts/' + ${category} + '?page=' + ${postsByCategory.totalPages}}">>></a>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/logout.js"></script>
</body>
</html>