<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>STRIKE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css?after">
</head>
<body>
<nav th:replace="~{fragment/navbar::nav}"></nav>

<h2>Post</h2>
<div class="container">
    <form id="postForm">
        <label for="category">카테고리</label><br>
        <input type="text" id="category" name="category" required placeholder="카테고리를 입력하세요"><br>
        <label for="title">제목</label><br>
        <input type="text" id="title" name="title" required placeholder="제목을 입력하세요"><br>
        <label for="teamName">팀</label><br>
        <input type="text" id="teamName" name="teamName" required placeholder="팀이름을 입력하세요"><br>
        <label for="content">내용</label><br>
        <textarea id="content" name="content" required placeholder="내용을 입력하세요"></textarea><br><br>

        <button type="submit">작성</button>
    </form>
    <form id="cancelWrite">
        <button type="submit">취소</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    console.log("실행함");
    $(document).ready(function () {
        // 폼 제출 시 AJAX 요청 수행
        $('#postForm').submit(function (event) {
            console.log("submit 실행함");
            event.preventDefault(); // 폼의 기본 동작 방지

            // 폼 데이터 가져오기
            var formData = {
                title: $('#title').val(),
                content: $('#content').val(),
                category: getCategoryValue($('#category').val()),
                teamName: $('#teamName').val()
            };

            // REST API에 POST 요청 수행
            $.ajax({
                type: 'POST',
                url: '/rest-api/boards/post', // 컨트롤러의 엔드포인트 URL로 변경해야 합니다.
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    // 성공적으로 게시글이 작성되면 메시지 표시
                    alert('게시글이 성공적으로 작성되었습니다.');
                    // 폼 초기화
                    $('#category').val('');
                    $('#title').val('');
                    $('#team').val('');
                    $('#content').val('');
                    window.location.href='/';
                },
                error: function (xhr, status, error) {
                    // 오류 발생 시 오류 메시지 표시
                    alert(xhr.responseText);
                }
            });
        });
    });

    // 카테고리 값을 변환하는 함수
    function getCategoryValue(category) {
        switch (category) {
            case "자유 게시판":
                return "FREE";
            case "응원":
                return "CHEERING";
            case "리뷰":
                return "REVIEW";
            case "야구장 팁":
                return "TIP";
            default:
                return ""; // 기본값은 빈 문자열로 설정합니다.
        }
    }
</script>
</body>
</html>